[user]
	name = Tom Kralidis
	email = tomkralidis@gmail.com
[github]
	user = tomkralidis
[core]
	editor = vi
	eol = lf
	autocrlf = input
[svn]
[credential]
        helper = cache --timeout=86400
[init]
	defaultBranch = main
